<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sys_Sols_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sys_Sols_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Sys_Sols_Inventory.Properties.Settings.AIN_INVENTORYConnectionString"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString1"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString2"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString3"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString4"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString5"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString6"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Sys_Sols_Inventory.Properties.Settings.SYSBIZZConnectionString7"
      connectionString="Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SecurityKey" value="key" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <applicationSettings>
    <Sys_Sols_Inventory.Properties.Settings>
      <setting name="Account" serializeAs="String">
        <value>True</value>
      </setting>
    </Sys_Sols_Inventory.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Sys_Sols_Inventory.Properties.Settings>
      <setting name="backupLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="restoreLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="backup" serializeAs="String">
        <value />
      </setting>
      <setting name="Tax_Type" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionStrings" serializeAs="String">
        <value>Data Source=LAPTOP-L8K9SKAP;Initial Catalog=SYSBIZZ;Integrated Security=True</value>
      </setting>
    </Sys_Sols_Inventory.Properties.Settings>
  </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
